.barra-pesquisa {
    margin-bottom: 20px;
    text-align: center;
    margin-top: 20px;
}

.barra-pesquisa input {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    width: 80%;
    max-width: 400px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 0 auto;
    display: block;
    border: 2px solid #02044a;
}

.lista-pacientes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.paciente {
    background-color:rgb(84, 143, 143);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.info-paciente {
    display: flex;
    flex-direction: column;
}

.info-paciente h2 {
    color: #444;
    font-size: 1.5em;
    margin: 0;
    font-weight: bold;
}

.info-paciente h4 {
    font-size: 1em;
    margin: 5px 0 15px 0;
    color: #0f0e0e;
    font-weight: normal;
}

.paciente + .paciente {
    margin-top: 20px;
}
.btn-remove button{
    cursor: pointer;
     background-color:#02044a;
     color: #fff;
    padding: 10px 20px;
    transition: 0.5s;
}
.btn-remove button:hover{
    background-color: #16195c;
}
.barra-navegacao{
    padding: 10px;
}
.barra-navegacao button{
    cursor: pointer;
    background-color:#02044a;
     color: #fff;
     padding: 10px;
    transition: 0.5s;
}
.btn-remove button:hover{
    background-color: #16195c;
}