.cadastro{
    display: grid;
    justify-content: center;
    text-align: center;
}
.cadastro button {
    padding: 10px 15px;
    cursor: pointer;
    font-size: 15px;
}
.copy{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: bold;
}

